## Week 2:
 
New Topics:

 - Resources for help with coding 
 - Creating a reproducible workflow
 - Merging _pandas_ DataFrames
 - Additional _pandas_ methods 
 

Coding Tasks:

Start a new Jupyter Notebook to complete these tasks. This week, you'll be combining two different datasets.

First, you'll work with a dataset containing the number of primary care physicians per county for each county in the United States. It was obtained from the Area Health Resources File, published by the [Health Resources and Services Administration](https://data.hrsa.gov/topics/health-workforce/ahrf). This data is contained in the file `primary_care_physicians.csv`.

Second, the file `population_by_county.csv` contains the Census Bureau's 2019 population estimates for each US County. It also contains a column `urban`. The `urban` column uses data from the National Bureau of Economic Research to classify each county as either urban or rural. The U.S. Office of Management and Budget designates counties as metropolitan (a core urban area of 50,000 or more population), micropolitan (an urban core of at least 10,000 but less than 50,000 population), or neither. Here, a county is considered "urban" if it is part of a metropolitan or micropolitan area and "rural" if it is not.

 1. First, import the primary care physicians dataset (`primary_care_physicians.csv`) into a data frame named `physicians`. 
 2. Filter `physicians` down to just the counties in Tennessee. Save the filtered dataframe back to `physicians`. Verify that the resulting dataframe has 95 rows.
 3. Look at the distribution of the number of primary care physicians. What do you notice?
 4. Now, import the population by county dataset (`population_by_county.csv`) into a DataFrame named `population`.
 5. Merge the `physicians` DataFrame with the `population` DataFrame. Keep only the values for Tennessee. When you merge, be sure the include both the `population` and `urban` columns in the merged results. Save the result of the merge back to `physicians`.
 6. How many Tennessee counties are considered urban?
 7. The State Health Access Data Assistance Center (SHADAC) (https://www.shadac.org/) classifies counties into three groups based on the number of residents per primary care physician. First, counties with fewer than 1500 residents per primary care physician are considered to have an "adequate" supply. Counties with at least 1500 residents but fewer than 3500 residents per primary care physician are considered to have a "moderately inadequate" supply, and counties with at least 3500 residents per primary care physician are considered to have a "low inadequate" supply. How many counties in Tennessee are in each group? 
 8. Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?

In [2]:
import pandas as pd

In [3]:
physicians = pd.read_csv('../data/primary_care_physicians.csv')

In [4]:
physicians.head(2)

   FIPS    state   county  primary_care_physicians
0  1001  Alabama  Autauga                     26.0
1  1003  Alabama  Baldwin                    153.0

In [5]:
physicians.shape

(3230, 4)

In [6]:
physicians['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Dist. of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Guam', 'Puerto Rico',
       'US Virgin Islands'], dtype=object)

In [7]:
physicians['state'].value_counts()

Texas                254
Georgia              159
Virginia             135
Kentucky             120
Missouri             115
Kansas               105
Illinois             102
North Carolina       100
Iowa                  99
Tennessee             95
Nebraska              93
Indiana               92
Ohio                  88
Minnesota             87
Michigan              83
Mississippi           82
Puerto Rico           78
Oklahoma              77
Arkansas              75
Wisconsin             72
Pennsylvania          67
Alabama               67
Florida               67
South Dakota          66
Louisiana             64
Colorado              64
New York              62
California            58
Montana               56
West Virginia         55
North Dakota          53
South Carolina        46
Idaho                 44
Washington            39
Oregon                36
Alaska                33
New Mexico            33
Utah                  29
Maryland              24
Wyoming               23
New Jersey            21
Nevada                17
Maine                 16
Arizona               15
Massachusetts         14
Vermont               14
New Hampshire         10
Connecticut            8
Hawaii                 5
Rhode Island           5
US Virgin Islands      3
Delaware               3
Guam                   1
Dist. of Columbia      1
Name: state, dtype: int64

In [8]:
physicians.loc[physicians['state'] == 'Tennessee']

       FIPS      state      county  primary_care_physicians
2432  47001  Tennessee    Anderson                     39.0
2433  47003  Tennessee     Bedford                     15.0
2434  47005  Tennessee      Benton                      3.0
2435  47007  Tennessee     Bledsoe                      1.0
2436  47009  Tennessee      Blount                     90.0
...     ...        ...         ...                      ...
2522  47181  Tennessee       Wayne                      5.0
2523  47183  Tennessee     Weakley                     18.0
2524  47185  Tennessee       White                      9.0
2525  47187  Tennessee  Williamson                    338.0
2526  47189  Tennessee      Wilson                     43.0

[95 rows x 4 columns]

In [9]:
physicians = physicians.loc[physicians['state'] == 'Tennessee']

In [45]:
physicians.shape

(95, 4)

In [46]:
physicians['primary_care_physicians'].describe()

count     95.000000
mean      51.042105
std      129.311426
min        0.000000
25%        4.500000
50%       12.000000
75%       26.500000
max      806.000000
Name: primary_care_physicians, dtype: float64

In [47]:
physicians[physicians['primary_care_physicians'] == 0]

       FIPS      state     county  primary_care_physicians
2448  47033  Tennessee   Crockett                      0.0
2462  47061  Tennessee     Grundy                      0.0
2479  47095  Tennessee       Lake                      0.0
2519  47175  Tennessee  Van Buren                      0.0

In [11]:
physicians['primary_care_physicians'].value_counts()

2.0      8
5.0      7
9.0      5
0.0      4
12.0     4
4.0      4
18.0     4
1.0      4
3.0      4
21.0     3
6.0      3
15.0     3
19.0     2
14.0     2
26.0     2
23.0     2
38.0     2
8.0      2
39.0     2
22.0     2
55.0     1
806.0    1
13.0     1
91.0     1
520.0    1
27.0     1
53.0     1
11.0     1
137.0    1
82.0     1
199.0    1
52.0     1
90.0     1
403.0    1
16.0     1
40.0     1
37.0     1
7.0      1
30.0     1
226.0    1
338.0    1
10.0     1
43.0     1
129.0    1
665.0    1
17.0     1
Name: primary_care_physicians, dtype: int64

In [12]:
population = pd.read_csv('../data/population_by_county.csv')

In [13]:
population.shape

(3202, 5)

In [14]:
population.head()

    FIPS  population          county     state  urban
0  17051       21565  Fayette County  ILLINOIS  Rural
1  17107       29003    Logan County  ILLINOIS  Rural
2  17165       23994   Saline County  ILLINOIS  Rural
3  17097      701473     Lake County  ILLINOIS  Urban
4  17127       14219   Massac County  ILLINOIS  Rural

In [15]:
population['state'].unique()

array(['ILLINOIS', 'INDIANA', 'IOWA', 'GEORGIA', 'KANSAS', 'ARKANSAS',
       'CALIFORNIA', 'HAWAII', 'IDAHO', 'OREGON', 'VIRGINIA',
       'MISSISSIPPI', 'PENNSYLVANIA', 'MISSOURI', 'WASHINGTON',
       'PUERTO RICO', 'TENNESSEE', 'RHODE ISLAND', 'SOUTH CAROLINA',
       'SOUTH DAKOTA', 'COLORADO', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'CONNECTICUT', 'NEW YORK', 'NORTH CAROLINA', 'WYOMING', 'TEXAS',
       'FLORIDA', 'NORTH DAKOTA', 'OHIO', 'KENTUCKY', 'LOUISIANA',
       'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA',
       'ALABAMA', 'ALASKA', 'ARIZONA', 'OKLAHOMA', 'WEST VIRGINIA',
       'WISCONSIN', 'VERMONT', 'UTAH', 'MONTANA', 'NEBRASKA', 'NEVADA',
       'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO'], dtype=object)

In [16]:
physicians['state'].str.upper()

2432    TENNESSEE
2433    TENNESSEE
2434    TENNESSEE
2435    TENNESSEE
2436    TENNESSEE
          ...
2522    TENNESSEE
2523    TENNESSEE
2524    TENNESSEE
2525    TENNESSEE
2526    TENNESSEE
Name: state, Length: 95, dtype: object

In [17]:
population['county'].str.replace(" County", "")

0        Fayette
1          Logan
2         Saline
3           Lake
4         Massac
          ...
3197    Crockett
3198        Lake
3199        Knox
3200      Benton
3201       Clark
Name: county, Length: 3202, dtype: object

In [18]:
population['county'] = population['county'].str.replace(" County", "")

In [19]:
population = population.loc[population['state'] == 'TENNESSEE']

Merge the physicians DataFrame with the population DataFrame. Keep only the values for Tennessee. When you merge, be sure the include both the population and urban columns in the merged results. Save the result of the merge back to physicians.

How many Tennessee counties are considered urban?

The State Health Access Data Assistance Center (SHADAC) (https://www.shadac.org/) classifies counties into three groups based on the number of residents per primary care physician. First, counties with fewer than 1500 residents per primary care physician are considered to have an "adequate" supply. Counties with at least 1500 residents but fewer than 3500 residents per primary care physician are considered to have a "moderately inadequate" supply, and counties with at least 3500 residents per primary care physician are considered to have a "low inadequate" supply. How many counties in Tennessee are in each group?

Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?

In [20]:
physicians.head()

       FIPS      state    county  primary_care_physicians
2432  47001  Tennessee  Anderson                     39.0
2433  47003  Tennessee   Bedford                     15.0
2434  47005  Tennessee    Benton                      3.0
2435  47007  Tennessee   Bledsoe                      1.0
2436  47009  Tennessee    Blount                     90.0

In [21]:
population.head()

      FIPS  population     county      state  urban
283  47165      183437     Sumner  TENNESSEE  Urban
284  47169       10231  Trousdale  TENNESSEE  Urban
285  47027        7654       Clay  TENNESSEE  Rural
405  47157      936374     Shelby  TENNESSEE  Urban
406  47077       27977  Henderson  TENNESSEE  Rural

In [22]:
physpop = pd.merge(left = physicians, right = population, 
         left_on = "county", right_on = "county")

In [23]:
physpop.head()

,FIPS_x,state_x,county,primary_care_physicians,FIPS_y,population,state_y,urban
0,47001,Tennessee,Anderson,39.0,47001,76061,TENNESSEE,Urban
1,47003,Tennessee,Bedford,15.0,47003,48292,TENNESSEE,Rural
2,47005,Tennessee,Benton,3.0,47005,16140,TENNESSEE,Rural
3,47007,Tennessee,Bledsoe,1.0,47007,14836,TENNESSEE,Rural
4,47009,Tennessee,Blount,90.0,47009,129927,TENNESSEE,Urban

In [24]:
physpop.drop(columns = ['FIPS_x','FIPS_y', 'state_y'])

      state_x      county  primary_care_physicians  population  urban
0   Tennessee    Anderson                     39.0       76061  Urban
1   Tennessee     Bedford                     15.0       48292  Rural
2   Tennessee      Benton                      3.0       16140  Rural
3   Tennessee     Bledsoe                      1.0       14836  Rural
4   Tennessee      Blount                     90.0      129927  Urban
..        ...         ...                      ...         ...    ...
90  Tennessee       Wayne                      5.0       16693  Rural
91  Tennessee     Weakley                     18.0       33510  Rural
92  Tennessee       White                      9.0       26800  Rural
93  Tennessee  Williamson                    338.0      225389  Urban
94  Tennessee      Wilson                     43.0      136666  Urban

[95 rows x 5 columns]

In [25]:
physpop['urban'].value_counts()

Rural    57
Urban    38
Name: urban, dtype: int64

#####  57 are considered rural, and 38 are considered urban

The State Health Access Data Assistance Center (SHADAC) (https://www.shadac.org/) classifies counties into three groups based on the number of residents per primary care physician. 

First, counties with fewer than 1500 residents per primary care physician are considered to have an "adequate" supply. 

Counties with at least 1500 residents but fewer than 3500 residents per primary care physician are considered to have a "moderately inadequate" supply, 

and counties with at least 3500 residents per primary care physician are considered to have a "low inadequate" supply. 

How many counties in Tennessee are in each group?

Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?

population divided by primary care physician

In [26]:
physpop['population'] / physpop['primary_care_physicians']

0      1950.282051
1      3219.466667
2      5380.000000
3     14836.000000
4      1443.633333
          ...
90     3338.600000
91     1861.666667
92     2977.777778
93      666.831361
94     3178.279070
Length: 95, dtype: float64

In [27]:
physpop['SHADAC'] = physpop['population'] / physpop['primary_care_physicians']

In [28]:
physpop.head()

,FIPS_x,state_x,county,primary_care_physicians,FIPS_y,population,state_y,urban,SHADAC
0,47001,Tennessee,Anderson,39.0,47001,76061,TENNESSEE,Urban,1950.282051
1,47003,Tennessee,Bedford,15.0,47003,48292,TENNESSEE,Rural,3219.466667
2,47005,Tennessee,Benton,3.0,47005,16140,TENNESSEE,Rural,5380.000000
3,47007,Tennessee,Bledsoe,1.0,47007,14836,TENNESSEE,Rural,14836.000000
4,47009,Tennessee,Blount,90.0,47009,129927,TENNESSEE,Urban,1443.633333

In [29]:
adequate = physpop.loc[physpop['SHADAC'] < 1500]
adequate

,FIPS_x,state_x,county,primary_care_physicians,FIPS_y,population,state_y,urban,SHADAC
4,47009,Tennessee,Blount,90.0,47009,129927,TENNESSEE,Urban,1443.633333
12,47025,Tennessee,Claiborne,23.0,47025,31732,TENNESSEE,Rural,1379.652174
15,47031,Tennessee,Coffee,37.0,47031,55209,TENNESSEE,Rural,1492.135135
17,47035,Tennessee,Cumberland,40.0,47035,59216,TENNESSEE,Rural,1480.400000
18,47037,Tennessee,Davidson,665.0,47037,687488,TENNESSEE,Urban,1033.816541
32,47065,Tennessee,Hamilton,403.0,47065,360919,TENNESSEE,Urban,895.580645
39,47079,Tennessee,Henry,22.0,47079,32284,TENNESSEE,Rural,1467.454545
46,47093,Tennessee,Knox,520.0,47093,461104,TENNESSEE,Urban,886.738462
56,47113,Tennessee,Madison,129.0,47113,97625,TENNESSEE,Urban,756.782946
70,47141,Tennessee,Putnam,52.0,47141,77447,TENNESSEE,Rural,1489.365385
78,47157,Tennessee,Shelby,806.0,47157,936374,TENNESSEE,Urban,1161.754342
81,47163,Tennessee,Sullivan,199.0,47163,157050,TENNESSEE,Urban,789.195980
89,47179,Tennessee,Washington,226.0,47179,127805,TENNESSEE,Urban,565.508850
93,47187,Tennessee,Williamson,338.0,47187,225389,TENNESSEE,Urban,666.831361

In [30]:
adequate.shape

(14, 9)

In [31]:
adequate.info()
adequate['urban'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 4 to 93
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FIPS_x                   14 non-null     int64
 1   state_x                  14 non-null     object
 2   county                   14 non-null     object
 3   primary_care_physicians  14 non-null     float64
 4   FIPS_y                   14 non-null     int64
 5   population               14 non-null     int64
 6   state_y                  14 non-null     object
 7   urban                    14 non-null     object
 8   SHADAC                   14 non-null     float64
dtypes: float64(2), int64(3), object(4)
memory usage: 1.1+ KB

Urban    9
Rural    5
Name: urban, dtype: int64

14 counties in adequate, 9 of which are urban and 5 of which are rural

In [32]:
physpop.loc[(physpop['SHADAC'] >= 1500) & (physpop['SHADAC'] < 3500)]

,FIPS_x,state_x,county,primary_care_physicians,FIPS_y,population,state_y,urban,SHADAC
0,47001,Tennessee,Anderson,39.0,47001,76061,TENNESSEE,Urban,1950.282051
1,47003,Tennessee,Bedford,15.0,47003,48292,TENNESSEE,Rural,3219.466667
5,47011,Tennessee,Bradley,55.0,47011,105749,TENNESSEE,Urban,1922.709091
6,47013,Tennessee,Campbell,19.0,47013,39797,TENNESSEE,Rural,2094.578947
8,47017,Tennessee,Carroll,12.0,47017,27886,TENNESSEE,Rural,2323.833333
9,47019,Tennessee,Carter,22.0,47019,56433,TENNESSEE,Urban,2565.136364
10,47021,Tennessee,Cheatham,23.0,47021,40181,TENNESSEE,Urban,1747.000000
14,47029,Tennessee,Cocke,16.0,47029,35552,TENNESSEE,Rural,2222.000000
19,47039,Tennessee,Decatur,4.0,47039,11686,TENNESSEE,Rural,2921.500000
20,47041,Tennessee,DeKalb,9.0,47041,19847,TENNESSEE,Rural,2205.222222
21,47043,Tennessee,Dickson,19.0,47043,52680,TENNESSEE,Urban,2772.631579
22,47045,Tennessee,Dyer,14.0,47045,37416,TENNESSEE,Rural,2672.571429
23,47047,Tennessee,Fayette,15.0,47047,40164,TENNESSEE,Urban,2677.600000
24,47049,Tennessee,Fentress,10.0,47049,18213,TENNESSEE,Rural,1821.300000
25,47051,Tennessee,Franklin,27.0,47051,41725,TENNESSEE,Rural,1545.370370
26,47053,Tennessee,Gibson,21.0,47053,49228,TENNESSEE,Rural,2344.190476
27,47055,Tennessee,Giles,11.0,47055,29285,TENNESSEE,Rural,2662.272727
29,47059,Tennessee,Greene,39.0,47059,68834,TENNESSEE,Rural,1764.974359
31,47063,Tennessee,Hamblen,38.0,47063,64132,TENNESSEE,Urban,1687.684211
35,47071,Tennessee,Hardin,13.0,47071,25715,TENNESSEE,Rural,1978.076923
44,47089,Tennessee,Jefferson,21.0,47089,53679,TENNESSEE,Urban,2556.142857
45,47091,Tennessee,Johnson,6.0,47091,17753,TENNESSEE,Rural,2958.833333
49,47099,Tennessee,Lawrence,18.0,47099,43390,TENNESSEE,Rural,2410.555556
51,47103,Tennessee,Lincoln,18.0,47103,33924,TENNESSEE,Rural,1884.666667
52,47105,Tennessee,Loudon,30.0,47105,52340,TENNESSEE,Urban,1744.666667
53,47107,Tennessee,McMinn,26.0,47107,53053,TENNESSEE,Rural,2040.500000
54,47109,Tennessee,McNairy,9.0,47109,25844,TENNESSEE,Rural,2871.555556
57,47115,Tennessee,Marion,12.0,47115,28538,TENNESSEE,Urban,2378.166667
59,47119,Tennessee,Maury,53.0,47119,91976,TENNESSEE,Rural,1735.396226
60,47121,Tennessee,Meigs,6.0,47121,12104,TENNESSEE,Rural,2017.333333
62,47125,Tennessee,Montgomery,82.0,47125,200180,TENNESSEE,Urban,2441.219512
65,47131,Tennessee,Obion,14.0,47131,30365,TENNESSEE,Rural,2168.928571
66,47133,Tennessee,Overton,12.0,47133,22068,TENNESSEE,Rural,1839.000000
68,47137,Tennessee,Pickett,2.0,47137,5079,TENNESSEE,Rural,2539.500000
69,47139,Tennessee,Polk,8.0,47139,16814,TENNESSEE,Urban,2101.750000
71,47143,Tennessee,Rhea,12.0,47143,32719,TENNESSEE,Rural,2726.583333
72,47145,Tennessee,Roane,18.0,47145,53075,TENNESSEE,Rural,2948.611111
73,47147,Tennessee,Robertson,26.0,47147,70280,TENNESSEE,Urban,2703.076923
74,47149,Tennessee,Rutherford,137.0,47149,315815,TENNESSEE,Urban,2305.218978
75,47151,Tennessee,Scott,8.0,47151,21969,TENNESSEE,Rural,2746.125000
76,47153,Tennessee,Sequatchie,5.0,47153,14816,TENNESSEE,Urban,2963.200000
77,47155,Tennessee,Sevier,38.0,47155,97068,TENNESSEE,Rural,2554.421053
79,47159,Tennessee,Smith,9.0,47159,19740,TENNESSEE,Urban,2193.333333
82,47165,Tennessee,Sumner,91.0,47165,183437,TENNESSEE,Urban,2015.791209
85,47171,Tennessee,Unicoi,6.0,47171,17811,TENNESSEE,Urban,2968.500000
88,47177,Tennessee,Warren,21.0,47177,40702,TENNESSEE,Rural,1938.190476
90,47181,Tennessee,Wayne,5.0,47181,16693,TENNESSEE,Rural,3338.600000
91,47183,Tennessee,Weakley,18.0,47183,33510,TENNESSEE,Rural,1861.666667
92,47185,Tennessee,White,9.0,47185,26800,TENNESSEE,Rural,2977.777778
94,47189,Tennessee,Wilson,43.0,47189,136666,TENNESSEE,Urban,3178.279070

In [33]:
modinad = physpop.loc[(physpop['SHADAC'] >= 1500) & (physpop['SHADAC'] < 3500)]

In [34]:
modinad.shape
modinad.info()
modinad['urban'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 94
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FIPS_x                   50 non-null     int64
 1   state_x                  50 non-null     object
 2   county                   50 non-null     object
 3   primary_care_physicians  50 non-null     float64
 4   FIPS_y                   50 non-null     int64
 5   population               50 non-null     int64
 6   state_y                  50 non-null     object
 7   urban                    50 non-null     object
 8   SHADAC                   50 non-null     float64
dtypes: float64(2), int64(3), object(4)
memory usage: 3.9+ KB

Rural    31
Urban    19
Name: urban, dtype: int64

There are 50 counties that fall within the moderately inadquate category, 31 are rural and 19 are urban

In [35]:
physpop.loc[(physpop['SHADAC'] >= 3500)]

,FIPS_x,state_x,county,primary_care_physicians,FIPS_y,population,state_y,urban,SHADAC
2,47005,Tennessee,Benton,3.0,47005,16140,TENNESSEE,Rural,5.380000e+03
3,47007,Tennessee,Bledsoe,1.0,47007,14836,TENNESSEE,Rural,1.483600e+04
7,47015,Tennessee,Cannon,3.0,47015,14178,TENNESSEE,Urban,4.726000e+03
11,47023,Tennessee,Chester,4.0,47023,17190,TENNESSEE,Urban,4.297500e+03
13,47027,Tennessee,Clay,2.0,47027,7654,TENNESSEE,Rural,3.827000e+03
16,47033,Tennessee,Crockett,0.0,47033,14399,TENNESSEE,Rural,inf
28,47057,Tennessee,Grainger,5.0,47057,23101,TENNESSEE,Urban,4.620200e+03
30,47061,Tennessee,Grundy,0.0,47061,13344,TENNESSEE,Rural,inf
33,47067,Tennessee,Hancock,1.0,47067,6587,TENNESSEE,Rural,6.587000e+03
34,47069,Tennessee,Hardeman,4.0,47069,25443,TENNESSEE,Rural,6.360750e+03
36,47073,Tennessee,Hawkins,15.0,47073,56611,TENNESSEE,Urban,3.774067e+03
37,47075,Tennessee,Haywood,5.0,47075,17623,TENNESSEE,Rural,3.524600e+03
38,47077,Tennessee,Henderson,7.0,47077,27977,TENNESSEE,Rural,3.996714e+03
40,47081,Tennessee,Hickman,5.0,47081,24813,TENNESSEE,Urban,4.962600e+03
41,47083,Tennessee,Houston,2.0,47083,8164,TENNESSEE,Rural,4.082000e+03
42,47085,Tennessee,Humphreys,5.0,47085,18435,TENNESSEE,Rural,3.687000e+03
43,47087,Tennessee,Jackson,2.0,47087,11682,TENNESSEE,Rural,5.841000e+03
47,47095,Tennessee,Lake,0.0,47095,7401,TENNESSEE,Rural,inf
48,47097,Tennessee,Lauderdale,2.0,47097,25989,TENNESSEE,Rural,1.299450e+04
50,47101,Tennessee,Lewis,2.0,47101,12027,TENNESSEE,Rural,6.013500e+03
55,47111,Tennessee,Macon,4.0,47111,23842,TENNESSEE,Urban,5.960500e+03
58,47117,Tennessee,Marshall,5.0,47117,32965,TENNESSEE,Rural,6.593000e+03
61,47123,Tennessee,Monroe,9.0,47123,46064,TENNESSEE,Rural,5.118222e+03
63,47127,Tennessee,Moore,1.0,47127,6378,TENNESSEE,Rural,6.378000e+03
64,47129,Tennessee,Morgan,3.0,47129,21545,TENNESSEE,Rural,7.181667e+03
67,47135,Tennessee,Perry,2.0,47135,7962,TENNESSEE,Rural,3.981000e+03
80,47161,Tennessee,Stewart,1.0,47161,13427,TENNESSEE,Urban,1.342700e+04
83,47167,Tennessee,Tipton,17.0,47167,61447,TENNESSEE,Urban,3.614529e+03
84,47169,Tennessee,Trousdale,2.0,47169,10231,TENNESSEE,Urban,5.115500e+03
86,47173,Tennessee,Union,3.0,47173,19488,TENNESSEE,Urban,6.496000e+03
87,47175,Tennessee,Van Buren,0.0,47175,5760,TENNESSEE,Rural,inf

In [36]:
inad = physpop.loc[(physpop['SHADAC'] >= 3500)]

In [37]:
inad.shape

(31, 9)

In [38]:
31 + 50 + 14

95

In [39]:
inad['urban'].value_counts()

Rural    21
Urban    10
Name: urban, dtype: int64

31 are inadequate, and 21 are rural and 10 are urban

## 14 counties in adequate, 9 of which are urban and 5 of which are rural


## There are 50 counties that fall within the moderately inadquate category, 31 are rural and 19 are urban


## 31 are inadequate, and 21 are rural and 10 are urban